/* HTML: <div class="loader"></div> */
.loaderc {
  display: inline-flex;
  gap: 10px;
}
.loaderc:before,
.loaderc:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    linear-gradient(#ffdc73 0 0) top/100% 40% no-repeat,
    radial-gradient(farthest-side,#009176 95%,#0000) 50%/8px 8px no-repeat
    #fff;
  animation: l7 1.5s infinite alternate ease-in;
}
@keyframes l7 {
  0%,
  70% {background-size:100% 40%,8px 8px}
  85% {background-size:100% 120%,8px 8px}
  100% {background-size:100% 40%,8px 8px}
}

.logo-load{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
