:root {
    --bg-color-a: #F7F3E8 ; /*main bg color*/
    --title-color-a: #2C2825;
    --des-color-a: #A7A39B ;
    --btn-color-a: #3D3D3F ; /* btn color */
    --color-b: #BBB6B0;
    --logo-color-c: #2B2A2E ;
    --back-over-a :#3E3D3B;
    --color-b : #FAFAF3 ;
    --color-c:#7fd1ae ;
    --color-d:#009176 ;   /*  for shop word */
    --color-e:#fff9e8 ; /* for card bg  or second bg */ 
}




    