#base {
    background-color: #F7F3E8; /* Set background color */
    height: 100%;            /* Full height */
}
body {
    background-color: #F7F3E8; /* Set background color */
    height: 100%;            /* Full height */
}



